@charset "UTF-8";
/* CSS Document */

/* Selectors */	
body {
	font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    top: 2vh;
    position: static;
    height: 96h;
}
.header {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    width: 100vw;
    height: 4vh;
    top: 0;
    right: 0;
    position: absolute;
}

/* Text Classes */
.title {
    font-size: 2em;
    font-weight: 400;
    color: black;
    text-align: left;
    padding-top: 1vh;
    padding-left: 1vw;
}
.about{
    width: 80vw;
    height: 60vh;
    transform: translate(0, 20vh);
    text-align: Left;
    position: absolute;
    font-size: 1.4em;
    left: 10vw;
    overflow-y: scroll;
    scrollbar-width: none;
}
.about p {
	margin-top: 2em;
	margin-bottom: 0.25em;
}
.regular {
    font-weight: 400;
}
.regular a{
    font-weight: 400;
	text-decoration: none;
	color: black;
}
.regular a:hover{
    font-weight: 400;
	color: rgba(100,255,0,1.00);
}

/* Footer Classes */
.footer {
    color: black;
    background-color: white;
	text-align: right;
    width: 98vw;
	height: 2vh;
    position: fixed;
    bottom: 0;
    padding-right: 1vw;
    padding-top: 1vh;
	font-size: 1.4em;
    font-weight: 100;
}
.footer a{
    text-decoration: none;
	color: black;
}
.footer a:hover{
    color: rgba(100,255,0,1.00);
}