@charset "UTF-8";
/* CSS Document */

/* Selectors */	
header {
	font-size: 14px;
	font-family: "Atlas Grotesk", "Atlas Grotesk Black", "Atlas Grotesk Black Italic", "Atlas Grotesk Bold Italic", "Atlas Grotesk Light", "Atlas Grotesk Light Italic", "Atlas Grotesk Medium", "Atlas Grotesk Medium Italic", "Atlas Grotesk Regular Italic", "Atlas Grotesk Thin", "Atlas Grotesk Thin Italic";
    font-weight: 100;
}
body {
	background-color: rgba(255,255,255,1);
	font-size: 14px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: "Atlas Grotesk", "Atlas Grotesk Black", "Atlas Grotesk Black Italic", "Atlas Grotesk Bold Italic", "Atlas Grotesk Light", "Atlas Grotesk Light Italic", "Atlas Grotesk Medium", "Atlas Grotesk Medium Italic", "Atlas Grotesk Regular Italic", "Atlas Grotesk Thin", "Atlas Grotesk Thin Italic";
    font-weight: 100;
}
footer {
	font-size: 14px;
	font-family: "Atlas Grotesk", "Atlas Grotesk Black", "Atlas Grotesk Black Italic", "Atlas Grotesk Bold Italic", "Atlas Grotesk Light", "Atlas Grotesk Light Italic", "Atlas Grotesk Medium", "Atlas Grotesk Medium Italic", "Atlas Grotesk Regular Italic", "Atlas Grotesk Thin", "Atlas Grotesk Thin Italic";
    font-weight: 100;
}
main{
	top: 70px;
}

/* Text Classes */
.bold {
    font-weight: 700;
}
.center {
    text-align: center;
}
.regular {
    font-weight: 400;
}
.regular a{
    font-weight: 400;
	text-decoration: none;
	color: black;
}
.regular a:hover{
    font-weight: 400;
	color: rgba(100,255,0,1.00);
}
.welcome {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
	font-weight: 400;
}

/* Home Page Footer Classes */
.footerhome {
    color: white;
	text-align: right;
    width: 99%;
    position: fixed;
    bottom: -15px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 14px;
	font-weight: 100;
}
.footerhome a{
    text-decoration: none;
	color: white;
}
.footerhome a:hover{
    color: rgba(100,255,0,1.00);
}

/* Footer Classes */
.footer {
    color: black;
	background-color: white;
	text-align: right;
    width: 99%;
    position: fixed;
    bottom: -15px;
    left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 14px;
    font-weight: 100;
}
.footer a{
    text-decoration: none;
	color: black;
}
.footer a:hover{
    color: rgba(100,255,0,1.00);
}

/* Img Classes */
.background {
	position: fixed;
	text-align: center;
	color: white;
	width: 100vw;
	height: 100vh;
}
.homebutton{
    position: fixed;
	z-index: 1;
    left: 15px;
    height: 30px;
    top: 50%;
}
.projectthumb {
	position: fixed;
	text-align: center;
	color: white;
	height: 20vh;
}

/* Scrolling Banner */
.marquee {
    text-align: center;
    margin: 0 auto;
	position: fixed;
    white-space: nowrap;
    overflow: hidden;
    height: 16px;
	width: 100%;
    background-color: white;
    font-size: 14px;
    color: black;
    padding-top: 2px;
    padding-bottom: 2px;
	z-index: 1
} /* Animation Speed */
.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 30s linear infinite;
} /* Animation Positions */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* Navigation Bar Styles */
.menubutton {
	position: fixed;
	left: 2%;
	top: 20px;
	font-size: 40px;
	font-weight: 400;
	z-index: 1;
}
.menubutton:hover {
	color: rgba(100,255,0,1.00);
	cursor: crosshair;
}
.navbar {
	height: 50px;
	width: 100%;
	top: 20px;
	background: white;
	position: fixed;
	z-index: 1;
}
#sidemenu {
	height: 40px;
	width: 0;
	top: 20px;
	left: 0px;
	position: fixed;
	background-color: white;
	overflow-x: hidden;
	display: inline-block;
	transition: 0s linear;
	z-index: 2;
}
#sidemenu a {
	margin-right: 60px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	text-align: left;
	display: inline-block;
}
#sidemenu a:hover {
	color: rgba(100,255,0,1.00);
	cursor: crosshair;
}
#sidemenu .btn-area {
	margin-left: 2%;
	font-weight: 400;
	font-size: 40px;
	transform: rotate(45deg);
}

/* PRODUCTIONS - Project Entries */
.project {
    width: 98%;
	height: 80%;
	overflow-y: scroll;
    text-align: justify;
    position: absolute;
    top: 10%;
    left: 2%;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	scrollbar-color: white white;
}
.project img {
	height: 75vmin;
	margin-right: 0px;
	margin-left: 0px;
	left: 0%;
	display: inline-block;
	scroll-snap-align: start;
}
.description {
    width: 96%;
	height: 80%;
	overflow-y: scroll;
    text-align: justify;
    position: absolute;
    top: 10%;
    left: 2%;
	scroll-snap-type: y mandatory;
	scrollbar-width: none;
	scrollbar-color: white white;
}
.description img {
	height: 75vmin;
	margin-right: 0px;
	margin-left: 0px;
	left: 0%;
	display: inline-block;
	scroll-snap-align: start;
}
.description p {
	width: 48%;
	text-align: justify;
	display: inline-block;
	scroll-snap-align: start;
}

/* ABOUT - Page Formatting */
.about{
    width: 48%;
    text-align: Left;
    position: absolute;
    top: 33%;
    left: 2%;
}
.about p {
	margin-top: 2em;
	margin-bottom: 0.25em;
}